extends layout

block content
    h1.
        #{title}
    if fallen_soldiers.length
        table
            each fallen_soldier, i in fallen_soldiers
                tr
                    a(href="/" + curr_country + "/" + fallen_soldier.name)= fallen_soldier.name
                    br
    else
        h2.
            No fallen soldiers from #{curr_country} in our database.
