extends layout

block content
    p(class="tribute_name")=title

    div
        h2.
            Submit New Tribute

        form#formAddTribute(name="addtribute",method="post",action="/addtribute")
            input#inputUserHometown(type="text", placeholder="User's Hometown", name="userhometown")
            br
            br
            input#inputUserName(type="text", placeholder="User's Name", name="username")
            br
            br
            textarea(rows="8", placeholder="Tribute", name="usertribute")
            br
            br
            button#btnSubmit(type="submit") submit

    h2.
        Tributes

    if tributes.length
        table
            each tribute, i in tributes
                tr
                    td=tribute
    else
        h2.
            No tributes for #{title} yet.
